<app-sidebar-download-form
  *ngIf="imageDownloadConfig"
  [isFormValid]="isImageFormValid"
  [buttonVisible]="false"
  [extension]="imageDownloadConfig.extension"
  [scale]="imageDownloadConfig.scale"
  [transparentBackground]="imageDownloadConfig.transparent"
  (extensionChanged)="imageExtensionChanged.emit($event)"
  (scaleChanged)="imageScaleChanged.emit($event)"
  (transparentBackgroundChanged)="imageTransparencyChanged.emit()"
>
</app-sidebar-download-form>

<div class="d-grid">
  <button class="btn btn-success" (click)="copyTrigger.emit()"
          [disabled]="!isImageFormValid">
    <fa-icon icon="clone"></fa-icon>&nbsp;Copy to clipboard
  </button>
</div>
