<ng-container *ngIf="patientSelection === 0; else nodeTemplate">
  <p>Select at least one patient above</p>
</ng-container>

<ng-template #nodeTemplate>
  <h6>Color nodes</h6>

  <ng-container *ngFor="let property of properties; let propertyId = index">

    <app-sidebar-layout-form-continuous
      *ngIf="property.type === 0"
      type="color"
      [property]="property"
      [propertyId]="propertyId"
      [isChecked]="property === nodeColorBy"
      [gradient]="gradient"
      (propertyClicked)="nodeColorByChanged.emit(property)"
    ></app-sidebar-layout-form-continuous>

    <app-sidebar-layout-form-discrete
      *ngIf="property.type === 1"
      [property]="property"
      [propertyId]="propertyId"
      [isChecked]="property === nodeColorBy"
      (propertyClicked)="nodeColorByChanged.emit(property)"
    ></app-sidebar-layout-form-discrete>

    <app-sidebar-layout-form-boolean
    *ngIf="property.type === 2"
    [property]="property"
    [propertyId]="propertyId"
    [booleanProperty]="booleanProperty"
    (propertyClicked)="booleanPropertyChanged.emit($event)"></app-sidebar-layout-form-boolean>

  </ng-container>

  <hr />

  <!-- TOGGLE: show all nodes -->
  <div class="form-check form-switch mt-2">
    <label class="form-check-label" for="showAllNodes">Show all nodes</label>
    <input
      (click)="showAllNodesChanged.emit()"
      class="form-check-input"
      type="checkbox"
      role="switch"
      id="showAllNodes"
      [checked]="showAllNodes"
    />
  </div>

  <!-- TOGGLE: show only shared nodes -->
  <div *ngIf="patientSelection === 3" class="form-check form-switch mt-2">
    <label class="form-check-label" for="showOnlyShared">Show only shared nodes</label>
    <input
      (click)="showOnlySharedNodesChanged.emit()"
      class="form-check-input"
      type="checkbox"
      role="switch"
      id="showOnlyShared"
      [checked]="showOnlySharedNodes"
    />
  </div>

  <ng-container *ngIf="patientSelection === 1 || patientSelection === 2">
    <hr />
    <!-- set node size -->
    <h6>Node size</h6>

    <ng-container *ngFor="let property of properties; let propertyId = index">

      <app-sidebar-layout-form-continuous
        *ngIf="property.type === 0"
        type="size"
        [property]="property"
        [propertyId]="propertyId"
        [isChecked]="property === nodeSizeBy"
        (propertyClicked)="nodeSizeByChanged.emit(property)"
      ></app-sidebar-layout-form-continuous>
    </ng-container>

  </ng-container>
</ng-template>

<!-- FIT -->
<div class="d-grid mt-2">
  <button class="btn btn-secondary" type="button" (click)="fitGraphPressed.emit()">
    Fit graph to viewport
  </button>
</div>
