#low {
  background-color: var(--custom-blue);
  color: var(--custom-dark);
  padding: 3px;
  font-weight: bold;
}

#normal {
  background-color: var(--custom-yellow);
  color: var(--custom-dark);
  padding: 3px;
  font-weight: bold;
}

#high {
  background-color: var(--custom-red);
  color: var(--custom-dark);
  padding: 3px;
  font-weight: bold;
}

.circle {
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 0.7rem;
  border: 4px solid var(--custom-green);
  top: 5px;
  position: relative;
}
