<p><a href="https://www.uni-augsburg.de/en/fakultaet/fai/informatik/prof/misit/" target="_blank" class="text-light">Chair</a></p>
<p><a href="https://www.sys-med.de/en/junior-research-groups/multipath/" target="_blank" class="text-light">Project</a></p>
<p><a href="https://www.uni-augsburg.de/en/kontakt/" target="_blank" class="text-light">Contact</a></p>
<p><a href="https://www.uni-augsburg.de/en/impressum/" target="_blank" class="text-light">Legal notice / disclosure</a></p>
<p><a href="https://www.uni-augsburg.de/en/impressum/datenschutz/" target="_blank" class="text-light">Privacy</a></p>
