<p *ngIf="graphService.visualizationConfig.patientsSelected === 0; else thresholdTemplate">
  Select at least one patient above
</p>

<ng-template #thresholdTemplate>
  <ng-container *ngIf="graphService.visualizationConfig.patientsSelected === 2">
    <!-- both selected -->
    <app-threshold-slider
      [multiplier]="thresholds.multiplier"
      [set]="thresholdMin * thresholds.multiplier"
      [min]="thresholdMin * thresholds.multiplier"
      [max]="thresholdMax * thresholds.multiplier"
    ></app-threshold-slider>
  </ng-container>

  <ng-container
    *ngIf="
      graphService.visualizationConfig.patientsSelected === 1 &&
      graphService.visualizationConfig.patientMetastatic !== null
    "
  >
    <app-threshold-slider
      [multiplier]="thresholds.multiplier"
      [set]="thresholds.metastatic.threshold * thresholds.multiplier"
      [min]="thresholds.metastatic.threshold * thresholds.multiplier"
      [max]="thresholds.metastatic.max * thresholds.multiplier"
    ></app-threshold-slider>
  </ng-container>

  <ng-container
    *ngIf="
      graphService.visualizationConfig.patientsSelected === 1 &&
      graphService.visualizationConfig.patientNonmetastatic !== null
    "
  >
    <app-threshold-slider
      [multiplier]="thresholds.multiplier"
      [set]="thresholds.nonmetastatic.threshold * thresholds.multiplier"
      [min]="thresholds.nonmetastatic.threshold * thresholds.multiplier"
      [max]="thresholds.nonmetastatic.max * thresholds.multiplier"
    ></app-threshold-slider>
  </ng-container>

</ng-template>
