<p *ngIf="graphService.visualizationConfig.patientNameMetastatic === ''
&& graphService.visualizationConfig.patientNameNonmetastatic === ''; else thresholdTemplate">
  Select at least one patient above
</p>

<ng-template #thresholdTemplate>

  <div class="input-group mb-3">
  <span class="input-group-text"
        id="thresholdLabel">

    {{graphService.visualizationConfig.patientNameNonmetastatic !== ''
  && graphService.visualizationConfig.patientNameMetastatic !== '' ? 'Both patients:'
    : (graphService.visualizationConfig.patientNameMetastatic !== '' ? 'Metastatic:' : 'Non-Metastatic:')}}

  </span>
    <input type="number"
           id="threshold"
           class="form-control"
           aria-label="Sizing example input"
           aria-describedby="inputGroup-sizing-default"
           [value]="">
  </div>

  <input type="range" class="form-range" id="thresholdRange">

</ng-template>
