<h6>Patients</h6>
<div class="row">
  <!-- Patient: Meta -->
  <div class="col-6">
    <div class="input-group">
      <span class="input-group-text" id="label-patient-meta">Metastatic</span>
      <input
        [disabled]="true"
        placeholder="None set"
        type="text"
        class="form-control"
        aria-label="Metastatic patient"
        aria-describedby="label-patient-meta"
        [value]="graphService.visualizationConfig.patientMetastatic?.name"
      />
    </div>
  </div>

  <!-- Patient: Non-meta -->
  <div class="col-6">
    <div class="input-group">
      <span class="input-group-text" id="label-patient-nonmeta">Non-metastatic</span>
      <input
        [disabled]="true"
        placeholder="None set"
        type="text"
        class="form-control"
        aria-label="Non-metastatic patient"
        aria-describedby="label-patient-nonmeta"
        [value]="graphService.visualizationConfig.patientNonmetastatic?.name"
      />
    </div>
  </div>
</div>

<hr />

<h6>Threshold</h6>
<div class="row">
  <div class="input-group">
    <span class="input-group-text" id="label-threshold">Defined threshold</span>
    <input
      [disabled]="true"
      type="text"
      class="form-control"
      aria-label="Defined threshold"
      aria-describedby="label-threshold"
      [value]="graphService.visualizationConfig.thresholdDefined"
    />
  </div>
</div>

<hr />

<h6>
  Selected nodes (<span>{{ graphService.selectedNodes.length }} selected</span>)
</h6>
<p *ngFor="let node of graphService.selectedNodes">
  <span>{{ node.data.id }}</span>
</p>

<hr />

<h6>Coloring by ...</h6>
<p *ngIf="graphService.visualizationConfig.nodeColorBy === utilService.nodeColorBy.relevance">
  ... node's relevance
</p>
<p *ngIf="graphService.visualizationConfig.nodeColorBy === utilService.nodeColorBy.geneExpression">
  ... node's gene expression
</p>
<p
  *ngIf="
    graphService.visualizationConfig.nodeColorBy === utilService.nodeColorBy.geneExpressionLevel
  "
>
  ... node's gene expression level (high, normal, low)
</p>

<hr />

<h6>Sizing by ...</h6>
<p *ngIf="graphService.visualizationConfig.nodeSizeBy === utilService.nodeSizeBy.relevance">
  ... node's relevance
</p>
<p *ngIf="graphService.visualizationConfig.nodeSizeBy === utilService.nodeSizeBy.geneExpression">
  ... node's gene expression
</p>

<hr />

<h6>Miscellaneous</h6>

<!-- checked: show all -->
<ng-container *ngIf="graphService.visualizationConfig.showAllNodes">
  <div class="form-check form-switch">
    <input
      class="form-check-input"
      type="checkbox"
      role="switch"
      id="checked-show-all"
      checked
      disabled
    />
    <label class="form-check-label" for="checked-show-all">Show all nodes</label>
  </div>
</ng-container>

<!-- checked: show mtb -->
<ng-container *ngIf="graphService.visualizationConfig.showMtbResults">
  <div class="form-check form-switch">
    <input
      class="form-check-input"
      type="checkbox"
      role="switch"
      id="checked-show-mtb"
      checked
      disabled
    />
    <label class="form-check-label" for="checked-show-mtb">Show MTB results</label>
  </div>
</ng-container>

<!-- checked: show shared -->
<ng-container *ngIf="graphService.visualizationConfig.showOnlySharedNodes">
  <div class="form-check form-switch">
    <input
      class="form-check-input"
      type="checkbox"
      role="switch"
      id="checked-show-shared"
      checked
      disabled
    />
    <label class="form-check-label" for="checked-show-shared">Show shared nodes</label>
  </div>
</ng-container>

<hr />

<!-- image download config -->
<div class="form-check form-switch">
  <input
    class="form-check-input"
    type="checkbox"
    role="switch"
    id="trigger-download"
    (click)="triggerImageDownload = !triggerImageDownload"
  />
  <label class="form-check-label" for="trigger-download">Trigger image download</label>
</div>

<!-- define download config -->
<div *ngIf="triggerImageDownload">
  <div class="row mt-2">
    <!-- extension -->
    <div class="col-auto">
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="download-extension"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{ imageDownloadConfig.extension }}
        </button>
        <ul class="dropdown-menu" aria-labelledby="download-extension">
          <li *ngFor="let extension of availableDatatypes">
            <a class="dropdown-item" (click)="imageDownloadConfig.extension = extension">{{
              extension
            }}</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- scale -->
    <div class="col">
      <div class="input-group">
        <span class="input-group-text" id="label-scale">Scale</span>
        <input
          type="number"
          class="form-control"
          aria-label="Metastatic patient"
          aria-describedby="label-patient-meta"
          min="1"
          max="10"
          [(ngModel)]="imageDownloadConfig.scale"
        />
      </div>
    </div>
  </div>

  <!-- background transparent -->
  <div class="form-check form-switch mt-2" *ngIf="imageDownloadConfig.extension === 'PNG'">
    <input
      class="form-check-input"
      type="checkbox"
      role="switch"
      id="background-transparent"
      (click)="imageDownloadConfig.transparent = !imageDownloadConfig.transparent"
    />
    <label class="form-check-label" for="background-transparent">Make background transparent</label>
  </div>
</div>

<hr />

<!-- collapsed sidebar -->
<div class="form-check form-switch mt-2">
  <input
    class="form-check-input"
    type="checkbox"
    role="switch"
    id="collapse-sidebar"
    (click)="collapsedSidebar = !collapsedSidebar"
  />
  <label class="form-check-label" for="collapse-sidebar">Collapse sidebar</label>
</div>

<div class="d-grid mt-2">
  <button class="btn btn-success" (click)="generateAndCopyHash()">
    <fa-icon icon="link"></fa-icon>&nbsp;Copy hash to clipboard
  </button>
</div>
