<div class="input-group mb-3">
  <span class="input-group-text" id="thresholdLabel">
    {{ threshold?.property?.label ?? threshold?.property?.name }}
  </span>
  <input
    [disabled]="true"
    [ngModel]="threshold?.defined"
    class="form-control"
    id="threshold"
    type="text"
  />
</div>

<div class="row">
  <div class="col">
    <!-- range -->
    <input
      (ngModelChange)="emitChangedThreshold($event)"
      [max]="(max ?? 1) * (multiplier ?? 1)"
      [min]="(min ?? 0) * (multiplier ?? 1)"
      [ngModel]="(threshold?.defined ?? 0) * (multiplier ?? 0)"
      class="form-range"
      id="thresholdRange"
      type="range"
    />

    <small class="float-start">{{ min ?? 0 | norm: 2 }}</small>
    <small class="float-end">{{ max ?? 1 | norm: 2 }}</small>
  </div>
</div>
