<app-home-content
  (loadNetwork)="setupWorkspace($event)"
  (networkDetailsEmitter)="selectNetwork($event)"
  (searchNdex)="searchNdex($event)"
  (showModal)="showModal()"
  [isLoading]="isLoading$ | async"
  [lastResultWasEmpty]="lastResultWasEmpty$ | async"
  [lastTermWasEmpty]="lastTermWasEmpty$ | async"
  [networks]="networks$ | async"
  [sampleNetworks]="sampleNetworks$ | async"
  [selectedNetwork]="selectedNetwork$ | async"
  [setupInProgress]="setupInProgress$ | async"
></app-home-content>
