<!-- headline -->
<div class="d-block m-3">
  <h1 class="display-3 row">
    <div class="col-10">
      MetaRelSubNetVis
    </div>
    <div class="col-2">
      <img
        class="img-fluid"
        src="https://assets.uni-augsburg.de/media/filer_public_thumbnails/filer_public/69/0d/690d57b6-7679-411b-8a60-6ae0d02122ef/misitsvg.png__1080x2000_q85_subject_location-215%2C89_subsampling-2.png"
        alt="Chair logo">
    </div>
  </h1>
  <hr>
</div>

<!-- content -->
<div class="m-4">

  <h5 class="display-5">What is the purpose of this app?</h5>

  <div class="accordion accordion-flush" id="homeAccordion">

    <!-- ABOUT -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="accordionAboutHead">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionAboutContent" aria-expanded="false" aria-controls="accordionAboutContent">
          About
        </button>
      </h2>
      <div id="accordionAboutContent" class="accordion-collapse collapse" aria-labelledby="accordionAboutHead" data-bs-parent="#homeAccordion">
        <div class="accordion-body">
          WIP
          Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.
        </div>
      </div>
    </div>

    <!-- NDEX -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="accordionNdexHead">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionNdexContent" aria-expanded="false" aria-controls="accordionNdexContent">
          Getting started
        </button>
      </h2>
      <div id="accordionNdexContent" class="accordion-collapse collapse" aria-labelledby="accordionNdexHead" data-bs-parent="#homeAccordion">
        <div class="accordion-body">
          Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.
        </div>
      </div>
    </div>

    <!-- START -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="accordionStartHead">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionStartContent" aria-expanded="false" aria-controls="accordionStartContent">
          Getting started
        </button>
      </h2>
      <div id="accordionStartContent" class="accordion-collapse collapse" aria-labelledby="accordionStartHead" data-bs-parent="#homeAccordion">
        <div class="accordion-body">
          Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.
        </div>
      </div>
    </div>

  </div>

  <hr>

  <h5 class="display-5">Find a network</h5>

  todo

  <hr>

  <h5 class="display-5">FAQ</h5>

  <div class="accordion accordion-flush" id="faqAccordion">

    <!-- Question 1 -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="faq1Q">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq1A" aria-expanded="false" aria-controls="faq1A">
          <fa-icon icon="comments"></fa-icon>
          &nbsp;Question 1
        </button>
      </h2>
      <div id="faq1A" class="accordion-collapse collapse" aria-labelledby="faq1Q" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          Answer 1
        </div>
      </div>
    </div>

    <!-- Question 2 -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="faq2Q">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2A" aria-expanded="false" aria-controls="faq2A">
          <fa-icon icon="comments"></fa-icon>
          &nbsp;Question 2
        </button>
      </h2>
      <div id="faq2A" class="accordion-collapse collapse" aria-labelledby="faq2Q" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          Answer 2
        </div>
      </div>
    </div>

    <!-- Question 3 -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="faq3Q">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq3A" aria-expanded="false" aria-controls="faq3A">
          <fa-icon icon="comments"></fa-icon>
          &nbsp;Question 3
        </button>
      </h2>
      <div id="faq3A" class="accordion-collapse collapse" aria-labelledby="faq3Q" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          Answer 3
        </div>
      </div>
    </div>

  </div>
</div>




