<app-sidebar-generator-table
  [uuid]="uuid$ | async"
  [groupLabelA]="groupLabelA$ | async"
  [groupLabelB]="groupLabelB$ | async"
  [patientA]="patientA$ | async"
  [patientB]="patientB$ | async"
  [threshold]="threshold$ | async"
  [nodes]="nodes$ | async"
  [nodesColorBy]="nodesColorBy$ | async"
  [nodesSizeBy]="nodesSizeBy$ | async"
  [showAll]="showAll$ | async"
  [showShared]="showShared$ | async"
  [showMtb]="showMtb$ | async"
  [triggerImmediateImageDownload]="triggerImmediateImageDownload$ | async"
  [sidebarVisibility]="sidebarVisibility$ | async"
  (triggerDownloadChanged)="toggleTriggerImmediateDownload()"
  (sidebarVisibilityChanged)="setSidebarVisibility($event)"
>
</app-sidebar-generator-table>

<app-sidebar-generator-form
  [domain]="domain$ | async"
  [queryParams]="queryParams$ | async"
  [isImageFormValid]="isImageFormValid$ | async"
  [imageDownloadConfig]="imageDownloadConfig$ | async"
  (copyTrigger)="buildAndCopyUrl()"
  (imageExtensionChanged)="setImageExtension($event)"
  (imageScaleChanged)="setImageScale($event)"
  (imageTransparencyChanged)="setImageTransparentBackground()"
>
</app-sidebar-generator-form>
