<app-sidebar-layout-form
  [patientSelection]="patientSelection$ |async"
  [showAllNodes]="showAllNodes$ | async"
  [showOnlySharedNodes]="showOnlySharedNodes$ | async"
  [nodeColorBy]="nodeColorBy$ | async"
  [nodeSizeBy]="nodeSizeBy$ | async"
  [properties]="properties$ | async"
  [booleanProperty]="booleanProperty$ | async"
  [gradient]="gradient$ | async"
  (booleanPropertyChanged)="toggleBooleanProperty($event)"
  (showAllNodesChanged)="toggleShowAllNodes()"
  (showOnlySharedNodesChanged)="toggleShowOnlySharedNodes()"
  (nodeColorByChanged)="setNodeColorBy($event)"
  (nodeSizeByChanged)="setNodeSizeBy($event)"
  (fitGraphPressed)="triggerFitGraph()"
></app-sidebar-layout-form>
