<app-sidebar-layout-form
  [patientSelection]="patientSelection$ |async"
  [showAllNodes]="showAllNodes$ | async"
  [showMtbResults]="showMtbResult$ | async"
  [showOnlySharedNodes]="showOnlySharedNodes$ | async"
  [nodeColorBy]="nodeColorBy$ | async"
  [nodeSizeBy]="nodeSizeBy$ | async"
  (showAllNodesChanged)="toggleShowAllNodes()"
  (showMtbResultsChanged)="toggleShowMtbResults()"
  (showOnlySharedNodesChanged)="toggleShowOnlySharedNodes()"
  (nodeColorByChanged)="setNodeColorBy($event)"
  (nodeSizeByChanged)="setNodeSizeBy($event)"
  (fitGraphPressed)="triggerFitGraph()"
></app-sidebar-layout-form>
