<ng-container *ngIf="patientsSelected !== 0; else emptyTemplate">

  <ng-container *ngFor="let threshold of thresholds; let thIndex = index">

    <app-sidebar-threshold-selector-range
      [threshold]="threshold"
      [patientSelection]="patientsSelected"
      [groupLabelA]="groupLabelA"
      [groupLabelB]="groupLabelB"
      [multiplier]="multiplier"
      [min]="min ? min[thIndex] : 0"
      [max]="max ? max[thIndex] : 1"
      (thresholdChangedEmitter)="thresholdChangedEmitter.emit($event)"
    ></app-sidebar-threshold-selector-range>

  </ng-container>

</ng-container>

<ng-template #emptyTemplate>
  <p>Select at least one patient above</p>
</ng-template>
