<div class="input-group mb-3">
  <span class="input-group-text" id="thresholdLabel">
    {{
      graphService.visualizationConfig.patientsSelected === 2
        ? 'Both patients:'
        : graphService.visualizationConfig.patientMetastatic !== null
        ? 'Metastatic:'
        : 'Non-Metastatic:'
    }}
  </span>
  <input
    [disabled]="true"
    type="text"
    id="threshold"
    class="form-control"
    aria-label="Sizing example input"
    aria-describedby="inputGroup-sizing-default"
    [(ngModel)]="set / multiplier"
  />
</div>

<input
  (ngModelChange)="graphService.updateThresholds($event)"
  type="range"
  class="form-range"
  id="thresholdRange"
  [min]="min"
  [max]="max"
  [(ngModel)]="set"
/>
