<div class="container-fluid p-5 mb-5">
  <!-- headline -->
  <div class="d-block">
    <h1 class="display-3 row">
      <div class="col-10">MetaRelSubNetVis</div>
      <div class="col-2">
        <a
          href="https://www.uni-augsburg.de/de/fakultaet/fai/informatik/prof/misit/"
          target="_blank"
        >
          <img
            alt="Chair logo"
            class="img-fluid"
            src="https://assets.uni-augsburg.de/media/filer_public_thumbnails/filer_public/69/0d/690d57b6-7679-411b-8a60-6ae0d02122ef/misitsvg.png__1080x2000_q85_subject_location-215%2C89_subsampling-2.png"
          />
        </a>
      </div>
    </h1>
    <hr />
  </div>

  <!-- content -->
  <div class="">
    <h5 class="display-5">What is the purpose of this app?</h5>

    <!-- accordion: about -->
    <div class="accordion accordion-flush" id="homeAccordion">
      <!-- ABOUT -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="accordionAboutHead">
          <button
            aria-controls="accordionAboutContent"
            aria-expanded="false"
            class="accordion-button collapsed"
            data-bs-target="#accordionAboutContent"
            data-bs-toggle="collapse"
            type="button"
          >
            About
          </button>
        </h2>
        <div
          aria-labelledby="accordionAboutHead"
          class="accordion-collapse collapse"
          data-bs-parent="#homeAccordion"
          id="accordionAboutContent"
        >
          <div class="accordion-body">
            Comparing groups of patients with respect to biological specifics is one of the building
            blocks for precision medicine. Such a data-driven analysis does not have to be abstract.
            With MetaRelSubNetVis we provide a visualization tool that allows users to inspect
            differences between two groups of patients.
          </div>
        </div>
      </div>

      <!-- NDEX -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="accordionNdexHead">
          <button
            aria-controls="accordionNdexContent"
            aria-expanded="false"
            class="accordion-button collapsed"
            data-bs-target="#accordionNdexContent"
            data-bs-toggle="collapse"
            type="button"
          >
            NDEx
          </button>
        </h2>
        <div
          aria-labelledby="accordionNdexHead"
          class="accordion-collapse collapse"
          data-bs-parent="#homeAccordion"
          id="accordionNdexContent"
        >
          <div class="accordion-body">
            The <b>N</b>etwork <b>D</b>ata <b>Ex</b>change is an online platform specifically
            designed for the distribution of biological network data among scientists. Users can
            upload, share and distribute networks in diverse formats and sizes. For further
            information, please read their publication
            <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4649937/" target="_blank"
              >NDEx, the Network Data Exchange</a
            >
            or visit the <a href="https://www.ndexbio.org/" target="_blank">website</a>.
          </div>
        </div>
      </div>

      <!-- START -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="accordionStartHead">
          <button
            aria-controls="accordionStartContent"
            aria-expanded="false"
            class="accordion-button collapsed"
            data-bs-target="#accordionStartContent"
            data-bs-toggle="collapse"
            type="button"
          >
            Getting started
          </button>
        </h2>
        <div
          aria-labelledby="accordionStartHead"
          class="accordion-collapse collapse"
          data-bs-parent="#homeAccordion"
          id="accordionStartContent"
        >
          <div class="accordion-body">
            To kick-off your visualization, you need a network stored on NDEx that conforms to the
            <a href="https://home.ndexbio.org/data-model/" target="_blank">CX data model</a> and
            contains all aspects that we expect during rendering. Find out about the necessary
            aspects
            <span (click)="showModal.emit()" class="link-primary cursor text-decoration-underline"
              >here</span
            >.
          </div>
        </div>
      </div>
    </div>

    <hr />

    <h5 class="display-5">Find a network on NDEx</h5>

    <!-- FORM -->
    <div class="input-group">
      <input
        (keyup.enter)="searchNdex.emit(searchTerm)"
        [(ngModel)]="searchTerm"
        [readOnly]="isLoading || setupInProgress"
        aria-describedby="httpSearch"
        class="form-control"
        placeholder="Search..."
        type="text"
      />
      <div class="input-group-append">
        <button
          (click)="searchNdex.emit(searchTerm)"
          [disabled]="setupInProgress"
          [openDelay]="1000"
          class="btn btn-outline-primary"
          container="body"
          data-toggle="tooltip"
          id="httpSearchPrivate"
          ngbTooltip="Search NDEx by entering a term"
          placement="left"
          type="button"
        >
          <span *ngIf="!isLoading">Search</span>
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status">
            <span class="visually-hidden">Loading...</span>
          </span>
        </button>
      </div>
    </div>

    <!-- hint: empty term -->
    <div *ngIf="lastTermWasEmpty" class="card border-warning mt-2">
      <div class="card-body">
        <h5 class="card-title">Term missing</h5>
        <p class="card-text">
          You entered no search term. Please let us know, what you're looking for.
        </p>
      </div>
    </div>

    <!-- hint: empty result -->
    <div *ngIf="lastResultWasEmpty" class="card border-warning mt-2">
      <div class="card-body">
        <h5 class="card-title">Empty result</h5>
        <p class="card-text">
          The term you queried did not yield any results. Check for typos and try synonyms. Also
          make sure, that the network is <b>searchable</b> on NDEx.
        </p>
      </div>
    </div>

    <!-- SEARCH RESULT -->
    <div class="mt-2 row">
      <!-- selector -->
      <div class="col-4">
        <ul class="list-group">
          <ng-container *ngIf="sampleNetworks !== null">
            <li
              (click)="networkDetailsEmitter.emit(sample)"
              *ngFor="let sample of sampleNetworks"
              [attr.aria-current]="sample === selectedNetwork"
              [ngClass]="sample === selectedNetwork ? 'active' : ''"
              class="list-group-item cursor"
            >
              <fa-icon icon="star"></fa-icon>&nbsp;[OFFICIAL DEMO] {{ sample.name }}
            </li>
          </ng-container>

          <ng-container *ngFor="let network of networks">
            <li
              (click)="networkDetailsEmitter.emit(network)"
              [attr.aria-current]="network === selectedNetwork"
              [ngClass]="network === selectedNetwork ? 'active' : ''"
              class="list-group-item cursor"
            >
              <ng-container
                *ngIf="network.isValid; then blockValid; else blockInvalid"
              ></ng-container>

              <ng-template #blockInvalid>
                <fa-icon class="text-warning" icon="exclamation-triangle"></fa-icon>&nbsp;{{
                  network.name
                }}
              </ng-template>
              <ng-template #blockValid>{{ network.name }}</ng-template>
            </li>
          </ng-container>
        </ul>
      </div>

      <!-- content -->
      <div class="col-8">
        <ng-container *ngIf="selectedNetwork !== null">
          <!-- details table -->
          <table class="table">
            <thead>
              <th>UUID</th>
              <th>Owner</th>
              <th># Nodes</th>
              <th># Edges</th>
            </thead>
            <tbody>
              <td>{{ selectedNetwork.externalId }}</td>
              <td>{{ selectedNetwork.owner }}</td>
              <td>{{ selectedNetwork.nodeCount }}</td>
              <td>{{ selectedNetwork.edgeCount }}</td>
            </tbody>
          </table>

          <!-- network description -->
          <div class="card mb-2">
            <div class="card-body">
              <h5 class="card-title">Description</h5>
              <ng-container
                *ngIf="
                  selectedNetwork &&
                    selectedNetwork.description &&
                    selectedNetwork.description.length > 0;
                  then blockDescription;
                  else blockDefault
                "
              ></ng-container>
              <ng-template #blockDescription>
                <p [innerHTML]="selectedNetwork.description" class="card-text"></p>
              </ng-template>
              <ng-template #blockDefault class="card-text">
                <p>No description given</p>
              </ng-template>
            </div>
          </div>

          <!-- hint: network invalid -->
          <div *ngIf="!selectedNetwork.isValid" class="card border-warning mb-3">
            <div class="card-body">
              <h5 class="card-title">Invalid network</h5>
              <p class="card-text">
                This network does not conform to the
                <span
                  (click)="showModal.emit()"
                  class="link-primary cursor text-decoration-underline"
                  >format</span
                >
                we require to build the group comparison. Check out the
                <a
                  href="https://www.ndexbio.org/viewer/networks/140d01f0-acfe-11ec-b3be-0ac135e8bacf"
                  target="_blank"
                  >example network</a
                >. If the issue persists or you need further assistance, please open an issue on
                <a href="https://github.com/frankkramer-lab/MetaRelSubNetVis/issues" target="_blank"
                  >GitHub</a
                >.
              </p>
            </div>
          </div>

          <!-- links -->
          <div class="row">
            <div class="col d-grid gap-0">
              <button (click)="loadNetwork.emit(selectedNetwork.externalId)" class="btn btn-info">
                Open the app with this network
              </button>
            </div>
            <div class="col d-grid gap-0">
              <a [href]="selectedNetwork.linkNdex" class="btn btn-outline-info" target="_blank"
                >Open this network on NDEx</a
              >
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <hr />

    <h5 class="display-5">FAQ</h5>

    <!-- accordion: faq -->
    <div class="accordion accordion-flush" id="faqAccordion">
      <!-- Question 1 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="faq1Q">
          <button
            aria-controls="faq1A"
            aria-expanded="false"
            class="accordion-button collapsed"
            data-bs-target="#faq1A"
            data-bs-toggle="collapse"
            type="button"
          >
            <fa-icon icon="comments"></fa-icon>
            &nbsp;I can't find the network I'm looking for, although it's marked as public. What's
            the problem here?
          </button>
        </h2>
        <div
          aria-labelledby="faq1Q"
          class="accordion-collapse collapse"
          data-bs-parent="#faqAccordion"
          id="faq1A"
        >
          <div class="accordion-body">
            Please make sure, that your network is not only public, but explicitly marked as
            <b>searchable</b>.
          </div>
        </div>
      </div>

      <!-- Question 2 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="faq2Q">
          <button
            aria-controls="faq2A"
            aria-expanded="false"
            class="accordion-button collapsed"
            data-bs-target="#faq2A"
            data-bs-toggle="collapse"
            type="button"
          >
            <fa-icon icon="comments"></fa-icon>
            &nbsp;Can I access networks on NDEx that are private?
          </button>
        </h2>
        <div
          aria-labelledby="faq2Q"
          class="accordion-collapse collapse"
          data-bs-parent="#faqAccordion"
          id="faq2A"
        >
          <div class="accordion-body">We currently don't support privately stored networks.</div>
        </div>
      </div>
    </div>
  </div>

  <!-- footer -->
  <div class="fixed-bottom bg-light text-center">
    <div class="row mb-3">
      <hr />

      <div class="col">
        <a
          href="https://www.uni-augsburg.de/de/fakultaet/fai/informatik/prof/misit/"
          target="_blank"
          >Chair</a
        >
      </div>
      <div class="col">
        <a href="https://www.sys-med.de/en/junior-research-groups/multipath/" target="_blank"
          >Project</a
        >
      </div>
      <div class="col">
        <a href="https://www.uni-augsburg.de/en/contact/" target="_blank">Contact</a>
      </div>
      <div class="col">
        <a href="https://www.uni-augsburg.de/de/impressum/datenschutz/" target="_blank">Privacy</a>
      </div>
      <div class="col">
        <a href="https://www.uni-augsburg.de/de/impressum/" target="_blank"
          >Legal notice / disclosure</a
        >
      </div>
    </div>
  </div>
</div>
