<div class="container-fluid">
  <div class="row">

    <div *ngIf="showSidebar"
         class="col-4 text-light sidebar overflow-scroll">

      <app-sidebar
        (showSidebarEmitter)="showSidebar = false"
        [showSidebar]="showSidebar"
        [patients]="patientData$ | async"
        [nodes]="nodeData"
        [occ]="totalOccurrences"
      ></app-sidebar>

    </div>

    <div [ngClass]="showSidebar ? 'col-8' : 'col-12'">
      <div class="row">

        <!-- BUTTON: show sidebar -->
        <div class="col-auto mt-2" *ngIf="!showSidebar">
          <button class="btn btn-outline-dark" (click)="showSidebar = true">
            <fa-icon icon="bars"></fa-icon>
          </button>
        </div>

        <!-- CANVAS -->
        <div class="col">
          <div #cy id="cy"></div>
        </div>

      </div>
    </div>
  </div>
</div>
