#cy {
  width: 100%;
  height: 90vh;
  border: 1px solid red;
}
.text-box {
  width: 100%;
  height: 50px;
  overflow: hidden;
  position: relative;
}

.text-box span {
  position: absolute;
  transform: translateX(0);
  transition: 5s;
}

.text-box:hover span {
  transform: translateX(calc(200px - 100%));
}
