<app-sidebar-threshold-selector
  [min]="min$ | async"
  [max]="max$ | async"
  [multiplier]="multiplier$ | async"
  [defined]="defined$ | async"
  [patientsSelected]="patientSelection$ | async"
  [groupLabelA]="groupLabelA$ | async"
  [groupLabelB]="groupLabelB$ | async"
  [labelMin]="thresholdMinLabel$ | async"
  [labelMax]="thresholdMaxLabel$ | async"
  [responsibleProperty]="thresholdProperty$ | async"
  [availableProperties]="availableProperties$ | async"
  (propertyChangedEmitter)="propertyChanged($event)"
  (definedChangedEmitter)="definedChanged($event)"
></app-sidebar-threshold-selector>
