<div class="form-check">
  <input
    (click)="propertyClicked.emit()"
    class="form-check-input"
    type="radio"
    name="colorNodesBy"
    id="colorBy{{ propertyId }}"
    [value]="property"
    [checked]="isChecked"
  />
  <label class="form-check-label w-100" for="colorBy{{ propertyId }}">
    <span>
      by <b>{{ property?.name ?? '' }}</b></span
    >

    <div *ngIf="isChecked" class="gradient" [style.background]="gradient"></div>
    <div class="row" *ngIf="isChecked">
      <small class="col text-start">{{getMin() | norm : 2}}</small>
      <small class="col text-end">{{getMax() | norm : 2 }}</small>
    </div>
  </label>
</div>

