<div class="row">
  <div class="col-6">
    <app-sidebar-patients-dropdown
      (patientReset)="patientAReset()"
      (patientSelected)="patientASelected($event)"
      [label]="groupLabelA$ | async"
      [patient]="patientA$ | async"
      [patients]="patientsGroupA$ | async"
      labelFallback="Group A"
    ></app-sidebar-patients-dropdown>
  </div>

  <div class="col-6">
    <app-sidebar-patients-dropdown
      (patientReset)="patientBReset()"
      (patientSelected)="patientBSelected($event)"
      [label]="groupLabelB$ | async"
      [patient]="patientB$ | async"
      [patients]="patientsGroupB$ | async"
      labelFallback="Group B"
    ></app-sidebar-patients-dropdown>
  </div>
</div>
