<div class="row p-3">
  <input
    class="form-control col"
    type="text"
    placeholder="Search..."
    [(ngModel)]="filterTerm"
    aria-label="Filter nodes"
  />
  <div class="col-auto" *ngIf="graphService.visibleNodes !== null">
    <span class="badge bg-secondary pt-3 pb-3">{{graphService.visibleNodes.length}}</span>
  </div>
</div>

<hr>

<!-- table head -->
<table class="table table-borderless text-light">
  <thead>
  <tr class="border-bottom">
    <!-- protein -->
    <th class="w-{{graphService.visualizationConfig.patientsSelected < 2 ? '50' : '25'}}">
      Protein
    </th>
    <!-- meta patient -->
    <th class="cursor w-25"
        *ngIf="graphService.visualizationConfig.patientMetastatic"
        (click)="sortBySubtype(graphService.visualizationConfig.patientMetastatic.subtype)"
    >
      {{ graphService.visualizationConfig.patientMetastatic.subtype }}&nbsp;
      ({{occ[graphService.visualizationConfig.patientMetastatic.subtype]}})
    </th>
    <!-- non-meta patient -->
    <th class="cursor w-25"
        *ngIf="graphService.visualizationConfig.patientNonmetastatic"
        (click)="
          sortBySubtype(graphService.visualizationConfig.patientNonmetastatic.subtype)
        "
    >
      {{ graphService.visualizationConfig.patientNonmetastatic.subtype }}&nbsp;
      ({{occ[graphService.visualizationConfig.patientNonmetastatic.subtype]}})
    </th>
    <!-- total -->
    <th class="cursor"
        [ngClass]="graphService.visualizationConfig.patientsSelected === 0 ? 'w-50' : 'w-25'"
        (click)="sortByTotal()">All&nbsp;({{occ?.all}})</th>
  </tr>
  </thead>
</table>

<!-- table body scrollable -->
<div id="table-nodes" class="overflow-scroll">
  <table class="table table-borderless text-light">
    <tbody>
    <ng-container *ngFor="let node of graphService.visibleNodes">
      <tr
        *ngIf="(node.data.id | lowercase).includes(filterTerm | lowercase)"
        [ngClass]="graphService.selectedNodes.includes(node) ? 'bg-info' : ''"
        (click)="graphService.selectNode(node)"
      >
        <td class="w-{{graphService.visualizationConfig.patientsSelected < 2 ? '50' : '25'}}">
          {{ node.data.id }}
        </td>
        <td class="w-25" *ngIf="graphService.visualizationConfig.patientMetastatic">
          {{node.occ[graphService.visualizationConfig.patientMetastatic.subtype]}}
        </td>
        <td class="w-25" *ngIf="graphService.visualizationConfig.patientNonmetastatic">
          {{node.occ[graphService.visualizationConfig.patientNonmetastatic.subtype]}}
        </td>
        <td [ngClass]="graphService.visualizationConfig.patientsSelected === 0 ? 'w-50' : 'w-25'">
          {{node.occ.all}}
        </td>
      </tr>

    </ng-container>
    </tbody>
  </table>
</div>

<!-- Unselect -->
<div class="d-grid" *ngIf="graphService.selectedNodes.length > 0">
  <button (click)="graphService.clearSelectedNodes()" class="btn btn-secondary">
    <fa-icon icon="redo"></fa-icon>&nbsp;Unselect all
  </button>
</div>
