<div class="form-check form-switch mt-2">
  <label class="form-check-label" for="show{{ propertyId }}"
  >
    <div *ngIf="property && property.mapping" class="d-inline">
      Show {{ property?.name ?? '' }}&nbsp;
      <div
        *ngFor="let item of property.mapping | keyvalue"
        class="circle align-text-bottom"
        [ngStyle]="{ 'border-color': item.value }"
      ></div>
    </div>

  </label>

  <input
    (click)="propertyClicked.emit(property === booleanProperty ? null : property)"
    class="form-check-input"
    type="checkbox"
    role="switch"
    id="show{{ propertyId }}"
    [checked]="booleanProperty === property"
  />
</div>
