<!-- sidebar visible -->
<div *ngIf="sidebarVisible === 0"
              class="text-light sidebar overflow-scroll">

  <!-- headline -->
  <h3 class="mt-2 m-2">
    <div class="row">
      <div class="col">
        EXPLORE THE NETWORKS
      </div>
      <div class="col-auto">
        <fa-icon (click)="toggleSidebar(1)" class="cursor" icon="times"></fa-icon>
      </div>
    </div>
  </h3>

  <div class="d-grid gap-0 mb-4">


    <!-- IMPORT -->
    <button
      class="btn btn-dark icon-hover btn-lg text-start rounded-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapseImport"
      aria-expanded="false"
      aria-controls="collapseImport"
    >
      <fa-icon
        icon="file-import"
        [ngClass]="collapseImport.className.includes('show') ? 'text-info' : ''"
      >
      </fa-icon>
      &nbsp;Import
    </button>
    <div class="collapse" #collapseImport id="collapseImport">
      <div class="p-3">
        <app-sidebar-import></app-sidebar-import>
      </div>
    </div>

    <!-- PATIENTS -->
    <button
      class="btn btn-dark icon-hover btn-lg text-start rounded-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsePatient"
      aria-expanded="false"
      aria-controls="collapsePatient"
    >
      <fa-icon
        icon="hospital-user"
        [ngClass]="collapsePatient.className.includes('show') ? 'text-info' : ''"
      >
      </fa-icon>
      &nbsp;Patients
    </button>
    <div class="collapse" #collapsePatient id="collapsePatient">
      <div class="p-3">
        <app-sidebar-patients></app-sidebar-patients>
      </div>
    </div>

    <!-- THRESHOLD -->
    <button
      class="btn btn-dark icon-hover btn-lg text-start rounded-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapseThreshold"
      aria-expanded="false"
      aria-controls="collapseThreshold"
    >
      <fa-icon
        icon="sort-amount-up"
        [ngClass]="collapseThreshold.className.includes('show') ? 'text-info' : ''"
      >
      </fa-icon>
      &nbsp;Threshold
    </button>
    <div class="collapse" id="collapseThreshold" #collapseThreshold>
      <div class="p-3">
        <app-sidebar-threshold></app-sidebar-threshold>
      </div>
    </div>

    <!-- NODES -->
    <button
      class="btn btn-dark icon-hover btn-lg text-start rounded-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapseNodes"
      aria-expanded="false"
      aria-controls="collapseNodes"
    >
      <fa-icon
        icon="project-diagram"
        [ngClass]="collapseNodes.className.includes('show') ? 'text-info' : ''"
      >
      </fa-icon>
      &nbsp;Nodes
    </button>
    <div class="collapse" id="collapseNodes" #collapseNodes>
      <div class="p-3">
        <app-sidebar-nodes></app-sidebar-nodes>
      </div>
    </div>

    <!-- LAYOUT -->
    <button
      class="btn btn-dark icon-hover btn-lg text-start rounded-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapseLayout"
      aria-expanded="false"
      aria-controls="collapseLayout"
    >
      <fa-icon
        icon="palette"
        [ngClass]="collapseLayout.className.includes('show') ? 'text-info' : ''"
      >
      </fa-icon>
      &nbsp;Layout
    </button>
    <div class="collapse" id="collapseLayout" #collapseLayout>
      <div class="p-3">
        <app-sidebar-layout></app-sidebar-layout>
      </div>
    </div>

    <!-- DOWNLOAD -->
    <button
      class="btn btn-dark icon-hover btn-lg text-start rounded-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapseDownload"
      aria-expanded="false"
      aria-controls="collapseDownload"
    >
      <fa-icon
        icon="arrow-circle-down"
        [ngClass]="collapseDownload.className.includes('show') ? 'text-info' : ''"
      >
      </fa-icon>
      &nbsp;Download
    </button>
    <div class="collapse" id="collapseDownload" #collapseDownload>
      <div class="p-3">
        <app-sidebar-download></app-sidebar-download>
      </div>
    </div>

    <!-- HASH GENERATOR -->
    <button
      class="btn btn-dark icon-hover btn-lg text-start rounded-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapseGenerator"
      aria-expanded="false"
      aria-controls="collapseGenerator"
    >
      <fa-icon
        icon="link"
        [ngClass]="collapseGenerator.className.includes('show') ? 'text-info' : ''"
      >
      </fa-icon>
      &nbsp;Hash generator
    </button>
    <div class="collapse" id="collapseGenerator" #collapseGenerator>
      <div class="p-3">
        <app-sidebar-generator></app-sidebar-generator>
      </div>
    </div>

    <!-- IMPRESSUM -->
    <button
      class="btn btn-dark icon-hover btn-lg text-start rounded-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapseImpressum"
      aria-expanded="false"
      aria-controls="collapseImpressum"
    >
      <fa-icon
        icon="info-circle"
        [ngClass]="collapseImpressum.className.includes('show') ? 'text-info' : ''"
      >
      </fa-icon>
      &nbsp;Impressum
    </button>
    <div class="collapse" id="collapseImpressum" #collapseImpressum>
      <div class="p-3">
        <app-sidebar-legal></app-sidebar-legal>
      </div>
    </div>

  </div>

</div>

<!-- sidebar button visible -->
<ng-container *ngIf="sidebarVisible === 1">
  <button class="btn btn-outline-dark mt-2" (click)="toggleSidebar(0)">
    <fa-icon icon="bars"></fa-icon>
  </button>
</ng-container>




