<form [formGroup]="downloadForm" (ngSubmit)="onSubmitDownload()">

  <!-- select: data type -->
  <div class="d-grid mb-3">
    <div class="btn-group" role="group" aria-label="Basic example">
      <ng-container *ngFor="let datatype of availableDataTypes; let index">

        <input type="radio" class="btn-check" formControlName="datatype"
               id="type{{index}}" autocomplete="off" [value]="datatype">
        <label class="btn btn-secondary" for="type{{index}}">{{datatype}}</label>

      </ng-container>
    </div>
  </div>

  <!-- select: scale -->
  <div class="input-group mb-3">
      <span class="input-group-text"
            id="scaleLabel">Scale image by</span>
    <input type="number"
           formControlName="scale"
           class="form-control"
           id="scale"
           aria-label="Scale image by" aria-describedby="scaleLabel">
  </div>

  <!-- error handling: scale -->
  <div *ngIf="scale?.invalid && (scale?.dirty || scale?.touched)"
       class="alert alert-danger">

    <div *ngIf="scale?.errors?.required">
      Scale is required
    </div>
    <div *ngIf="scale?.errors?.min">
      Scale cannot be lower than 1
    </div>
    <div *ngIf="scale?.errors?.max">
      Scale cannot be greater than 10
    </div>
  </div>

  <!-- select: background transparent -->
  <div *ngIf="downloadForm.getRawValue().datatype === 'PNG'" class="mb-3">
    <div class="form-check form-switch">
      <input class="form-check-input"
             type="checkbox"
             id="transparent"
             formControlName="backgroundTransparent">
      <label class="form-check-label"
             for="transparent">Transparent background</label>
    </div>
  </div>

  <!-- SUBMIT -->
  <div class="d-grid">
    <button class="btn btn-success"
            [disabled]="(downloadForm.touched || downloadForm.dirty) && downloadForm.invalid">
      Download image
    </button>
  </div>
</form>



