<div class="row mb-2">
  <div class="col">
    <b>{{ name }}</b>
  </div>
  <div class="col-auto">
    <div
      (ngModelChange)="modelEmitter.emit($event)"
      [disabled]="name !== 'Sidebar' && parentVisibility === 2"
      [ngModel]="model"
      class="btn-group"
      ngbRadioGroup
      role="group"
    >
      <label class="btn-outline-info" ngbButtonLabel>
        <input [value]="2" class="btn-check" ngbButton type="radio" />
        None
      </label>
      <label class="btn-outline-info" ngbButtonLabel>
        <input [value]="1" class="btn-check" ngbButton type="radio" />
        Button
      </label>
      <label class="btn-outline-info" ngbButtonLabel>
        <input [value]="0" class="btn-check" ngbButton type="radio" />
        Full
      </label>
    </div>
  </div>
  <div class="col-auto pl-3">
    <fa-icon
      [ngbTooltip]="tooltipContent"
      [openDelay]="1000"
      class="text-secondary"
      container="body"
      icon="info-circle"
      placement="bottom"
      size="2x"
    ></fa-icon>
  </div>
</div>

<ng-template #tooltipContent>
  <div [innerHTML]="tooltip" class="text-start"></div>
</ng-template>
