@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

:root {
  --custom-red: #ff3d6a;
  --custom-yellow: #e8e857;
  --custom-blue: #599eff;
  --custom-green: #0b0;
  --custom-gray: #888;
  --custom-dark: #0f0f0f;
  --custom-highlight: #333;
}

.sidebar {
  background-color: #2f2f2f;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.cursor {
  cursor: pointer;
}

.icon-hover:hover {
  color: $info !important;
}

#table-nodes {
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.scroll-style::-webkit-scrollbar-track
{
  border: 1px solid black;
  background-color: #3a3a3a;
}

.scroll-style::-webkit-scrollbar
{
  width: 10px;
  background-color: #3a3a3a;
}

.scroll-style::-webkit-scrollbar-thumb
{
  background-color: black;
}
