/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.cursor {
  cursor: pointer;
}

.scroll-style::-webkit-scrollbar-track {
  border: 1px solid black;
  background-color: #3a3a3a;
}

.scroll-style::-webkit-scrollbar {
  width: 10px;
  background-color: #3a3a3a;
}

.scroll-style::-webkit-scrollbar-thumb {
  background-color: black;
}

.dark-mode {
  background-color: #2f2f2f;
  color: $light;
}

.icon-hover:hover {
  color: $info !important;
}

.light-mode {
  background-color: #fff;
  color: $dark;
}

.circle {
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 0.7rem;
  border: 4px solid $light;
  top: 5px;
  position: relative;
}
