<div class="input-group mb-3">
  <input
    [readOnly]="isLoading"
    [(ngModel)]="uuid"
    name="uuid"
    id="uuid"
    type="text"
    class="form-control"
    placeholder="UUID"
    aria-label="UUID"
    aria-describedby="submitUuid"
  />

  <button
    [disabled]="isLoading"
    class="btn btn-dark"
    type="button"
    id="submitUuid"
    (click)="uuidSubmitted.emit(uuid ?? '')"
  >
    <div *ngIf="!isLoading">Load</div>
    <div *ngIf="isLoading" class="spinner-border spinner-border-sm text-light" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </button>
</div>
