<label for="patientMetastatic">{{headline}}</label>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle"
          type="button" id="patientMetastatic"
          data-bs-toggle="dropdown"
          aria-expanded="false">
    <span *ngIf="!selected">{{headline}} patient</span>
    <span *ngIf="selected">{{selected.name}} ({{selected.subtype}})</span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="patientMetastatic">
    <li><a class="dropdown-item" (click)="resetPatient()">Reset</a></li>
    <li *ngFor="let patient of patients">
      <a class="dropdown-item"
         (click)="selectPatient(patient)">
        {{patient.name}} ({{patient.subtype}})
      </a>
    </li>
  </ul>
</div>

<ng-container *ngIf="selected">
  <label for="subtype">Cancer subtype:</label>
  <div id="subtype">
    <b>{{selected.subtype}}</b>
  </div>

  <label for="mfs">Metastasis free survival:</label>
  <div id="mfs">
    <b>{{selected.mfsYears}}&nbsp;years</b>
  </div>
</ng-container>
